
body{
    background-color:#555555;
}


header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
	 //my
}
nav {
    line-height:30px;
    height:300px;
    width:100%;
    float:left;
    padding:5px;	      
}
section {
    width:100%;
    height: 100%;
    float:left;
    padding:10px;	 	 
}
footer {
    color:black;
    clear:both;
    height:10px;
    width: 100%
    text-align:center;
    padding:1px;
    border-collapse: collapse;
}



img.machine{
    width:150px;
    height:150px; 
}


#leftObjects
{
    position: fixed;
    float:left;
    top:15px;
    left:40px;  
}
#rightObjects
{
    position: fixed;
    float:right;
    top:15px;
    right:40px;    
}

.objects{
    width:124px;
    height:125px; 
    margin:10px;padding:10px;
    border:1px solid #aaaaaa;
}

#leftDestination
{
    position: absolute;
    top:275px;
    left:50px;
    width:50px;
    height:50px; 
    margin:10px;padding:10px;
    border:1px solid #aaaaaa;
}


#rightDestination
{
    position: absolute;
    top:275px;
    right:30px;
    width:50px;
    height:50px; 
    margin:10px;padding:10px;
    border:1px solid #aaaaaa;
}

#leftFinDestination{
    position: fixed;
    top:30px;
    left:30.5%;
    width:50px;
    height:50px; 
    margin:10px;padding:10px;
    border:1px solid #990000;
}

#rightFinDestination{
    position: fixed;
    line-height: 0px;
    top:30px;
    right:30%;
    width:50px;
    height:50px; 
    margin:10px;padding:10px;
    border:1px solid #aaaaaa;
}

.monkey{
    width: 100px;
    height: 100px;
}

#leftMonkey{
    position: fixed;
    left: 30%;
}

#rightMonkey{
    position: fixed;
    right: 30%;
}


.slider{
    width: 150px;
    height: 10px;
}

#WeighingMachine{
    width: 150px;
    height: 150px;   
}


#leftMass {
position: absolute;
left: 80px;
top: 440px;
color: red;
font-size: 25px;
}

#rightMass {
position: absolute;
right: 60px;
top: 440px;
color: red;
font-size: 25px;
}

#lMachine{
float: left;

}
#rMachine{
float: right;
}


#ruler {
    position: fixed;
    top: 20px;
    left: 45%;
    width: 150px;
    height: 206px;
        background-size: 80px 60px;
}

#rulerImage{
width:100px;
height:200%;
}

#form{

}
#ruler form.button{
width: 200px; height : 60px;}


#canvas{
    position: fixed;
    top: 100px;
    left: 29%;
    width:600px;
    height:410px;
    background:rgba(34,45,239,0.4);
}

#submit{
    width:100px;
    height:30px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: blue;
}

#tableHeader{

}

#tableHeader th{
    text-align: center;
    width: 25%;
}
#tableHeader tr{
    color:white;
    background-color:grey;
}
#table{
    width:100%;
    height:10%;
    border: 2;
}

#table th {
    border: 2px solid black;
}
table td {
    border: 2px solid green;
    text-align: center;
    width: 25%;
}


#foot-ball
{
    background-image: url(../images/football.png);
}
#cotton-ball
{
    background-image: url(../images/cottonball.png);
}
#iron-ball
{
    background-image: url(../images/ironball.png);
}
#golf-ball
{
    background-image: url(../images/golfball.png);
}


#bubble{
    position: absolute;
    left: 50%;
    background-image: url(../images/bubble.png);
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    font-size: 20px;
}
